<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="css/ui-box.css">
        <link rel="stylesheet" href="css/ui-base.css">
        <link rel="stylesheet" href="css/ui-color.css">
        <link rel="stylesheet" href="css/appcan.icon.css">
        <link rel="stylesheet" href="css/appcan.control.css">
    </head>
    <body class="" ontouchstart>
        <div class="bc-bg" tabindex="0" data-control="PAGE" id="Page">
            <header-component title="登录" v-bind:hasbackbtn="false"></header-component>
            <loading-component ></loading-component>
            <div data-control="CONTENT" id="ScrollContent">
                <div class="ub-fh">
                    <div class="uinn-4a ub ub-ac ub-pc">
                        <div class="logo ub-img umhw1"></div>
                    </div>
                    <div class="uinn ub ub-ac ub-pc ub-ver">
                        <div class="ulev1 t-blu addfont uinn">资产管理系统</div>
                    </div>
                    <div class="ub ub-ver ub-f1">
                        <form method="post" action="">
                            <div class="uba b-gra umar-a uc-a1 c-wh">
                                <div class="ub ub-ac">
                                    <div class="umhw resuser ub-img umar-l"></div>
                                    <div class="ub-f1 uinput uinn">
                                        <input placeholder="用户名" id="uid" type="text" class="uc-a1" v-model="username" >
                                    </div>
                                </div>
                            </div>
                            <div class="uba b-gra umar-a uc-a1 c-wh">
                                <div class="ub ub-ac">
                                    <div class="umhw respwd ub-img umar-l"></div>
                                    <div class="ub-f1 uinput uinn">
                                        <input placeholder="密码" id="upwd" type="password" class="uc-a1" v-model="password">
                                    </div>
                                </div>
                            </div>
                            <div class="uin uinn">
                                <div class="button ub ub-ac bc-text-head ub-pc bc-btn uc-a1" v-on:click="loginSubmit">登　录</div>
                            </div>
                            <div>测试用户 : MA1 MK1 MK2 , 密码都是123</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/appcan.js"></script>
        <script src="js/appcan.control.js"></script>
        <script src="js/vue/vue.js"></script>
        <script src="js/common.js"></script>
        <script src="js/login.js"></script>
    </body>
</html>