#Header {
	color:rgba(240,231,231,0.9);
}
#HeaderBox_bWzq1s {
	height:19.13em;
	left:0em;
	top:5.81em;
	text-align: center;
}
#SquareBox_VDKjhV {
	width:19.88em;
	height:13.50em;
	left:0.00em;
	top:4.81em;
	text-align: center;
}
#iconInput_pA1iKj {
	width:18.75em;
	left:0.50em;
	top:5.63em;
}
#Button_submit {
	width:18.75em;
	left:0.50em;
	top:7.50em;
}
#iconInput_Bd7GRz {
	width:18.75em;
	left:0.50em;
	top:-2.56em;
}
