#Header_zyqHSs {
	border-radius:0px;
	color:rgba(20,17,17,0.96);
}
#Button_cNmi2S {
	width:6.88em;
	left:10.81em;
	top:18.31em;
	border-radius:30px;
	border-style:solid;
	border-color:rgba(84,237,200,0.94);
	color:rgba(60,235,193,1);
	background-color:rgba(242,231,231,0.2);
}
#Button_qiJYJt {
	width:6.75em;
	left:2.31em;
	top:16.00em;
	border-radius:30px;
	border-style:solid;
	border-color:rgba(84,237,200,0.94);
	color:rgba(60,235,193,1);
	background-color:rgba(242,231,231,0.2);
}
#Footer_f1WYYb {
	top:32.19em;
}
#Tab_ITPHb2 {
	width:20.06em;
	height:3.25em;
}
#Service_rbK69o {
	border-radius:30px;
}
