<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <style>
        div.selected {
            background-color : #00A1EA !important;
        }
        </style>
    </head>
    <body ontouchstart>
        <div class="bc-bg" tabindex="0" data-control="PAGE" id="Page">
            <header-component v-bind:title="'查询结果'" v-bind:hasbackbtn="true"></header-component>
            <loading-component ></loading-component>
            <dialog-component :datail_list="datailList" :image_list="imageList" :show_dialog="showDialog" 
                    v-on:toggle-detail="toggleDialog" v-on:tr-select="trSelect" 
                    :button_text="selectIndex===null||resultList[selectIndex].isSelected ? '取消选中' : '选中'">
            </dialog-component>
            <div data-control="CONTENT" id="ScrollContent">
        <div class="scrollbox">
        <div class="ub uinn c-gra1 table-head">
            <div class="ub-f1 ub-con ub-pc ub">编码</div>
            <div class="umw1"></div>
            <div class="ub-f1 ub-con ub-pc ub">名称</div>
            <div class="umw1"></div>
            <div class="ub-f1 ub-con ub-pc ub">类别</div>
            <div class="umw1"></div>
            <div class="ub-f1 ub-con ub-pc ub">保管人</div>
        </div>
        <div>
            <div class="ub ub-hor ub-f1 ulev-1 uinn ub-ac umh4" v-for="(item,index) in resultList" 
                  v-bind:class="{selected : item.isSelected}" v-on:click="trClick(index)">
                <div class="ub-f1 ub-con ub-ac ub-pc ub">{{item.zcid}}</div>
                <div class="umw1"></div>
                <div class="ub-f1 ub-con ub-ac ub-pc ub">{{item.mingch}}</div>
                <div class="umw1"></div>
                <div class="ub-f1 ub-con ub-ac ub-pc ub">{{item.lbie}}</div>
                <div class="umw1"></div>
                <div class="ub-f1 ub-con ub-ac ub-pc ub">{{item.bgr ? item.bgr.realname : null}}</div>
            </div>
        </div>
        <div v-if="!resultList || resultList.length==0">{{tip}}</div>
        <div class="uinn uinn-at1">
            <div class="button ub ub-ac bc-text-head ub-pc bc-btn uc-a1" v-on:click="addToList">添加到清单</div>
        </div>
        <div class="uinn uinn-at1">
            <div class="button ub ub-ac bc-text-head ub-pc bc-btn uc-a1" v-on:click="showList" >查看清单</div>
        </div>
        <div class="uinn uinn-at1">
            <div class="button ub ub-ac bc-text-head ub-pc sc-btn uc-a1" v-on:click="reback" >取消</div>
        </div>
        </div>
        </div>
        </div>
        <script src="../js/appcan.js"></script>
        <script src="../js/appcan.control.js"></script>
        <script src="../js/vue/vue.js"></script>
        <script src="../js/common.js"></script>
        <script src="../component/dialog.js"></script>
        <script src="js/search.js"></script>
    </body>
</html>