<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="../css/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="../css/ui-box.css">
        <link rel="stylesheet" href="../css/ui-base.css">
        <link rel="stylesheet" href="../css/ui-color.css">
        <link rel="stylesheet" href="../css/appcan.icon.css">
        <link rel="stylesheet" href="../css/appcan.control.css">
        <link rel="stylesheet" href="../css/form.css">
    </head>
    <body ontouchstart>
        <div class="bc-bg" tabindex="0" data-control="PAGE" id="Page">
            <div class="uh bc-head  ubb bc-border" data-control="HEADER" id="Header">
                <div class="ub">
                    <div class="nav-btn" id="nav-left" v-on:click="backView">
                        <div class="fa fa-1g ub-img1 fa-chevron-left"></div>
                    </div>
                    <h1 class="ut ub-f1 ulev-3 ut-s tx-c" tabindex="0">盘点流程</h1>
                    <div class="nav-btn" id="nav-right">
                        <div class="fa  fa-1g  ub-img1"></div>
                    </div>
                </div>
            </div>
            <div data-control="CONTENT" id="ScrollContent">
                <div class="ub ub-ver">
                    <div id="Title">资产查询检索</div>
                    <div class="ub ub-ver ub-f1">
                   <form method="post">
                        <ul  class=" ubb ub bc-border bc-text ub-ac uinn">
                            <li class="ub-f1 ut-s ulev-app1">施工单位</li>
                            <li class="tx-r t-blu ulev-app1 ub-ae">
                                <div class="uinput uinn4">
                                    <input placeholder="请输入施工单位名称" type="text" class="tx-r " name="orderno" id="orderno">
                                </div>
                            </li>
                        </ul>
                        <ul  class=" ubb ub bc-border bc-text ub-ac uinn">
                            <li class="ub-f1 ut-s ulev-app1">名称</li>
                            <li class="tx-r t-blu ulev-app1 ub-ae">
                                
                                <div class="select uba bc-border bc-text" id="as_name">
                                    <div class="text">请选择</div>
                                    <div class="icon"></div>
                                    <select id="asname" name="asname" v-model="name_index">
                                        <template v-for="(item,index) in names">
                                            <option :value="index">{{item}}</option>
                                        </template>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        <ul  class=" ubb ub bc-border bc-text ub-ac uinn">
                            <li class="ub-f1 ut-s ulev-app1"> 类型</li>
                            <li class="tx-r t-blu ulev-app1 ub-ae">
                                <div class="select uba bc-border bc-text" id="as_type">
                                    <div class="text">请选择</div>
                                    <div class="icon"></div>
                                    <select id="astype" name="astype" v-model="type_index">
                                        <template v-for="(item,index) in types">
                                            <option :value="index">{{item}}</option>
                                        </template>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    </div>
                <div>
                    <div class=" uinn uinn-at1">
                        <div class="button ub ub-ac bc-text-head ub-pc bc-btn uc-a1"  v-on:click="search">查询</div>
                    </div>
                    <div class=" uinn uinn-at1">
                        <div class="button ub ub-ac bc-text-head ub-pc sc-btn uc-a1"  v-on:click="backView"> 取消</div>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
        
        <script src="../js/appcan.js"></script>
        <script src="../js/appcan.control.js"></script>
        <script src="../js/appcan.scrollbox.js"></script>
        <script src="../js/template.import.js"></script>
        <script src="../js/appcan.listview.js"></script>
        <script src="../js/appcan.optionList.js"></script>
        <script src="../js/appcan.slider.js"></script>
        <script src="../js/appcan.tab.js"></script>
        <script src="../js/appcan.treeview.js"></script>
        <script src="../js/common.js"></script>
        <script src="../js/vue/vue.js"></script> 
        <script src="zcck/js/zcck.js"></script>   
    </body>
</html>